
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Profiles</title>
  </head>
  <body>
    <div class="container">
      {{#users}}
      <div class=""cell">
        <a href=/{{id}}" class="cell-link"></div>
          <img src="{{avatar}}">
          <h2>{{name}}
    <div class="robots">
      img src="{{avatar}}">
      <p>{{name}}</p>
      {{#job}}
      <p>{{job}}{{company}}</p>
      {{/job}}

  </body>
</html>module.exportss = {

}
